.portfolio-page {
  padding-left: 100px;
  padding-right: 50px;
  width: calc(100% - 150px);
  position: initial;
  height: 100%;
  overflow: auto;

  .text-zone {
    top: 10%;
    width: 70%;
    left:auto {
      font-family: 'Roboto Mono';
    }
  }

 

  #portfolio-text {
    font-family: 'Roboto Mono';
  }

  .images-container {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    padding-bottom: 100px;
    margin-top: 30%;
  }

  .image-box {
    position: relative;
    flex: 1 1 20%;
    height: auto;
    border-radius: 10px;
    max-width: calc(33% - 10px);
    min-width: 300px;

    .portfolio-image {
      position: absolute;
      z-index:2;
      width: 100%;
      object-fit: cover;
    }
  }
}
