.home-page {
  .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-80px);
    width: 50%;
    max-height: 90%;
  }
}

h1 {
  color: white;
  font-family: 'Rubik Mono One';
  font-weight: 400;
  font-size: 53px;
  margin: 0;
}

h2 {
  color: #8d8d8d;
  margin-top: 20px;
  font-weight: 500;
  font-size: 20px;
  animation: fadeIn 1s 2.5s backwards;
}

.flat-button {
  color: #ff731d;
  font-size: 18px;
  font-family: sans-serif;
  letter-spacing: 3px;
  text-decoration: none;
  padding: 10px 18px;
  border: #ff731d 1px groove;
  animation: fadeIn 1s 2.5s backwards;
  margin-top: 30px;
  white-space: nowrap;
  transition: 0.5s ease-in-out;
  float: right;

  &:hover {
    background-color: #ff731d;
    color: black;
    border: black;
    font-size: 24px;
  }

  .home-logo {
    img {
      width: 50px;
    }
  }
}
.home-logo {
  max-width: 40%;
  margin-left: 60%;

  img {
    right:0;
    width: 70%;
    margin:  10%;
    border-radius: 20px;
  }
}