.contact-form {
  width: 100%;
  margin-top: 20px;
  font-family: 'Roboto Mono';

  #contact-p {
    font-family: 'Roboto Mono';
  }

  ul {
    padding: 0;
    margin: 0;
    li {
      padding: 0;
      margin: 0;
      list-style: none;
      margin-bottom: 10px;
      overflow: hidden;
      display: block;
      position: relative;
      opacity: 0;
      animation: fadeInUp 2s 2s;
      animation-fill-mode: forwards;
      clear: both;
    }

    li.half {
      width: 49%;
      margin-left: 2%;
      float: left;
      clear: none;

      &:first-child {
        margin-left: 0;
      }
    }
  }
  input[type='text'],
  input[type='email'] {
    width: 100%;
    border: 0;
    background: #115173;
    height: 50px;
    font-size: 18px;
    color: white;
    padding: 0 20px;
    box-sizing: border-box;
    font-family: 'Roboto mono';
  }
  textarea {
    width: 100%;
    border: 0;
    background: #115173;
    height: 50px;
    font-size: 18px;
    color: white;
    padding: 20px;
    font-family: 'Roboto Mono';
    min-height: 150px;
    box-sizing: border-box;
  }
  .flat-button {
    background-color: #051d4e;
    border-radius: 4px;
  }
}


#contact-p {
  font-family: 'Roboto Mono';
}


.map-wrap{
  background: rgba(8,253,216,0.1);
  float: right;
  width: 46%;
  height: 100%;
  margin-right: 2%;
}

.leaflet-container{
  width: 100%;
  height:100%;
  position: relative;
  opacity: 0;
  animation: fadeIn 1s 1.2s;
  animation-fill-mode: forwards;

}