.nav-bar {
  background:var(--background);
  width: 80px;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 3;
  min-height: 500px;
  border-right: 2px groove white;

  .logo {
    display: block;
    padding: 8px 0;

    img {
      display: block;
      margin: 5%;
      width: 90%;
      height: auto;
      background-color:var(--background);
      border-radius: 9px;
    }
  }

  nav {
    display: block;
    text-align: center;
    position: absolute;
    height: 210px;
    top: 50%;
    margin-top: -120px;
    width: 100%;

    a {
      font-size: 34px;
      color: #4d4d4e;
      display: block;
      line-height: 70px;
      height: 70px;
      position: relative;
      text-decoration: none;

      i {
        transition: all 0.5s ease-out;
      }

      &:hover {
        color: var(--accent);

        svg {
          opacity: 0;
        }

        &::after {
          opacity: 1;
        }
      }

      &:after {
        content: '';
        font-size: 9px;
        letter-spacing: 2px;
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        text-align: center;
        opacity: 0;
        transition: all 0.3s ease-out;
      }
      // &:first-child {
      //   &::after {
      //     content: 'HOME';
      //   }
      // }
    }

    a.home-link {
      &:after {
        content: 'HOME';
      }
    }
    a.about-link {
      &:after {
        content: 'ABOUT';
      }
    }
    a.portfolio-link {
      &:after {
        content: 'PORTFOLIO';
      }
    }
    a.contact-link {
      &:after {
        content: 'CONTACT';
      }
    }
  }

  ul {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: block;
    padding: 0;
    list-style: none;
    text-align: center;
    margin: 0;

    li {
      a {
        padding: 7px 0;
        display: block;
        font-size: 25px;
        line-height: 26px;

        &:hover svg {
          color: var(--accent);
          background-color: var(--accent);
        }
      }
    }
  }
}
