:root{
  --background:#19233e;
  --accent:#fb9039;
  --light:#646c79;

}


html{
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 'Roboto Mono',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: var(--accent);
  background: var(--background);
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
