.card {
  text-align: center;
  height: 100%;

  h1 {
    font-family: 'Roboto Mono';
    font-size: 30px;
    color: orange;
    font-weight: 900;
    margin-top: 2%;
  }

  .portfolio-img {
    max-width: 80%;
    min-height: 40%;
    margin-top: 5%;
    padding: 2px;
    border: 4px solid white;

    
  }

  button{
    position: relative;
    margin-right: 5%;
    
  }
}
#portfolio-p {
    text-justify: left;
    color: white;
    font-size: 15px;
    margin: 1%;
  }
